<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIPPS 2</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/app.css" media="screen" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
    <script src="../../public/js/jquery-2.2.0.js"></script>
    <script src="../../public/js/topic.js"></script>
</head>
<body>
<div id="popup" class="popup" role="alert">
    <div class="popup__container">
        <div class="popup__container-inside">
            <img src="../../public/media/x.png" class="popup__close pointer" alt="Закрыть" >
            <div class="text-title popup__title"></div>
        </div>
    </div>
</div>
{{{content}}}
</body>
</html>