.content {
    margin: 50px 0;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;

    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.popup.is-visible {
    opacity: 1;
    visibility: visible;

    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    z-index: 10;

    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    border-radius: 32px;
    background-color:  rgba(255, 255, 255, 0.99);
    width: 40%;
    max-width: 597px;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);

    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.popup__container-inside {
    width: 90%;
    max-width: 390px;
    margin: auto;
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
}

.popup__title {
    line-height: 32px;
}
.popup__title.error {
    color: #e74c3c;
}
.popup__title.success {
    color: #2ecc71;
}

.topics {
    margin-left: 100px;
}

.topic {
    max-width: 600px;
    margin: 30px auto;
    padding-left: 30px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 1px solid #3d566e;
}

.topic__title {
    margin: 10px 0;
    color: #222;
}

.topic__content {
    margin: 10px 0 10px 3rem;
    color: #2c3e50;
}

.topic__create {
    left: 5rem;
}

.topic__delete {
    position: absolute;
    margin-top: 100px;
    padding: 7px 40px 30px 40px;
    width: 140px;
    height: 25px;
    right: 2rem;
    bottom: 1rem;

    background: #e74c3c;
    border: 1px solid #e74c3c;
    color: #fff;

    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.topic__delete:hover {
    opacity: 0.8;
    cursor: pointer;
}

.topic-form {
    max-width: 600px;
    margin: 30px auto;
}

.topic-form__title, .topic-form__content {
    margin: 10px;
}

.topic-form__content {
    width: 300px;
    height: 100px;
}

.topic-form__create {
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px 40px 30px 40px;
    width: 140px;
    height: 25px;

    background: #2ecc71;
    border: 1px solid #2ecc71;
    color: #fff;

    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.notifications__link, .topic__create {
    position: fixed;
    top: 10rem;
    padding: 15px;
    min-width: 170px;
    text-align: center;

    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    color: #333;

    border: 2px solid #333;
    border-radius: 30px;
}

.no-topics {
    max-width: 400px;
    margin: 100px auto;
    font-size: 24px;
    color: #333;
}

.notifications__link {
    left: 5rem;
    top: 3rem;
}

.notifications__link:hover, .topic__create:hover {
    opacity: 0.8;
}

.notifications_title {
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    color: #333;
}

.notification {
    margin: 20px;
}

.notification_date {
    color: #2c3e50;
    font-size: 12px;
}


.history {
    max-width: 600px;
    margin: 40px auto;
}

.notification_success {
    color: #2ecc71;
}

.notification_fail {
    color: #e74c3c;
}

.notification_usual {
    color: #333;
}

.to-main {
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    color: #333;
    border: 2px solid #333;
    border-radius: 30px;
    padding: 10px;
}