<a id="to-main" class="to-main" href="/">← На главную</a><br>
<div class="history">
    {{#if notifications }}
        <h1 class="notifications_title">Notifications</h1>
        <div class="notifications">
            {{#each notifications }}
                <div class="notification">
                    <div class="notification_{{this.status}}">{{this.message}}</div>
                    <div class="notification_date">
                        {{this.created_at}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div>History of notifications is empty</div>
    {{/if}}
</div>