{{#if topics}}
    {{#each topics }}
        <div class="topic" data-id="{{this.id}}">
            <h1 class="topic__title">{{this.title}}</h1>
            <div class="topic__content">{{this.content}}</div>
            <button class="topic__subscribe js-subscribe-button">Subscribe</button>
            <button class="topic__unsubscribe js-unsubscribe-button">Unsubscribe</button>
            <button class="topic__delete js-delete-button">Delete topic</button>
        </div>
    {{/each}}
{{else}}
    <div>Unfortunately, here are no topics yet :(</div>
{{/if}}

<a href="/topic/new">Create a topic</a>